* {
  box-sizing: border-box;
}

body {
  font-family: verdana;
  color: #5ca4d6;
}


nav div.menu {
  background: #333;
  height: 50px;
}

nav ul {
  float: right;
}

nav ul li {
  float: left;
}

li.menu {
  padding-right: 30px;
}

li.menu:last-child {
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul.menu {
  list-style: none;
}

ul.products {
  float: left;
  width: 25%;
  padding: 20px 10px;
  margin: 0 auto;
  transition: width .5s ease;
}

li.products {
  list-style: none;
  margin: 0 auto;
  position: relative;
  border: 3px solid #5ca4d6;
}

i.fa.fa-undo {
  border-left: 3px solid #5ca4d6;
  border-bottom: 3px solid #5ca4d6;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 7px;
  overflow: hidden;
}

i.fa p {
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

img.t-shirt-front {
  width: 81%;
  opacity: 0.90;
  height: auto;
  margin: 30px 0 30px 25px;
  position: relative;
  z-index: 2;
}

/*

Shop box elements

*/

div.shop-box {
  border-top: 3px solid #5ca4d6;
  height: 50px;
  transition: height .5s ease;
}

ul.icons {
  padding-left: 0;
  width: 100%;
}

p.icons {
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  line-height: 50px;
}

li.icons {
  list-style: none;
  float: left;
  height: auto;
  line-height: 50px;
  width: 20%;
  border-left: 3px solid #5ca4d6;
  text-align: center;
}

li.icons:first-child {
  border-left: none;
}

li.icons:hover,
i.fa-undo:hover {
  background: #5ca4d6;
  color: #fff;
}

p {
  padding-left: 30%;
}

i.fa {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto;
}

.main.square {
  margin: 10px auto;
  border: 3px solid #fff;
}

#product1-square {
	background: #82BBE4;
}

#product2-square {
	background: #d583ac;
}

#product3-square {
	background: #deb17e;
}

#product4-square {
	background: #800000;
}

#product5-square {
	background: #00ffff;
}

#product6-square {
	background: #000080;
}

#product7-square {
	background: #B57EDC;
}

#product8-square {
	background: #71EEB8;
}

#product9-square {
	background: #33FF46;
}

#product10-square {
	background: #FF5733;
}

#product11-square {
	background: #581845;
}

#product12-square {
	background: #FF33B2;
}

li.shirt-colors,
li.shirt-sizes {
  list-style: none;
}

/*

Shirt sizes menu

*/

li.shirt-sizes {
  position: relative;
  display: inline-block;
}

li.shirt-sizes:hover div.shirt-sizes {
  opacity: 1;
  top: -163px;
  z-index: 5;
}

div.shirt-sizes {
  border: 3px solid #5ca4d6;
  background: #fff;
  width: 70px;
  position: absolute;
  opacity: 0;
  top: -183px;
  left: -8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.icon-t-shirt {
  color: #5ca4d6;
}

li.triangle {
  line-height: 30px;
  list-style: none;
}

span.white-triangle-shirt-sizes {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 9.5px 0 9.5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 23px;
}

span.blue-triangle-shirt-sizes {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 10.5px 0 10.5px;
  border-color: #5ca3d6 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 22px;
}

li.icons.shirt-sizes {
  line-height: 30px;
}
p.x-large, p.large, p.medium, p.small {
  margin: 0 auto;
}


p.x-large {
  padding-top: 10px;
}

p.large, p.medium, p.small {
  padding-top: 3px;
}

p.shirt-sizes {
  position: relative;
  padding-left: 0;
}

.shirt-text-x-large {
  font-size: 10px;
  position: absolute;
  top: 18px;
  left: 20px;
}

.shirt-text-large {
  font-size: 10px;
  position: absolute;
  top: 7px;
  left: 20px;
}

.shirt-text-medium {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 15px;
}

.shirt-text-small {
  font-size: 10px;
  position: absolute;
  top: 6px;
  left: 12px;
}

.icon-x-large, .icon-large, .icon-medium, .icon-small {
  line-height: 25px;
}

.icon-x-large {
  font-size: 37px;
  margin: 0;
}

.icon-large {
  font-size: 32px;
}

.icon-medium {
  font-size: 27px;
}

.icon-small {
  font-size: 22px;
}

ul.shirt-sizes {
  padding: 0;
}

/*

Shirt colors menu

*/

li.shirt-colors {
  position: relative;
  display: inline-block;
  line-height: 30px;
}

div.color-menu {
  padding-left: 1px;
}

li.icons.shirt-colors:hover div.shirt-colors {
  opacity: 1;
  top: -89px;
  z-index: 5;
}


div.shirt-colors {
  border: 3px solid #5ca4d6;
  background: #fff;
  opacity: 0;
  width: 80px;
  position: absolute;
  top: -114px;
  left: -13px;
  z-index: -1;
  transition: all .3s ease-in;
}

span.white-triangle-shirt-colors {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 9.5px 0 9.5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 29px;
}

span.blue-triangle-shirt-colors {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 10.5px 0 10.5px;
  border-color: #5ca3d6 transparent transparent transparent;
  position: absolute;
  bottom: -15px;
  left: 28px;
}

li.shirt-colors:first-child {
  padding-top: 7px;
}

ul.shirt-colors {
  padding: 0;
  height: 83px;
}

.square {
  width: 30px;
  height: 30px;
}

.blue {
	background: #82BBE4;
}

.pink {
	background: #d583ac;
}

.yellow {
	background: #deb17e;
}

.green {
	background: #8bb992;
}

.navy {
	background: #000080;
}

.maroon {
	background: #800000;
}

.cyan {
	background: #00ffff;
}

.canary-yellow {
	background: #ffef00;
}

.lavender {
	background: #B57EDC;
}

.seafoam-green {
	background: #71EEB8;
}

.bright-green {
	background: #33FF46;
}

.eggplant {
	background: #581845;
}

.orange {
	background: #FF5733;
}

.bright-pink {
  background: #FF33B2;
}

/*

Bottom product info - name & product-price

*/

li.product-name-price {
  list-style: none;
}

ul.product-name-price {
  padding: 0;
  margin: 0;
}

li.product-name,
li.product-price {
  list-style: none;
  padding-top: 10px;
  font-size: 21px;
  font-family: "avenir";
}

li.product-name {
  float: left;
  padding-left: 5px;
}

li.product-price {
  float: right;
  font-weight: bold;
  padding-right: 5px;
}


@media only screen and (max-width: 1050px) {

  body {
    width: 100%;
    height: auto;
  }
  ul.products {
    width: 33%;
  }

}

@media only screen and (max-width: 775px) {

  body {
    width: 100%;
    height: auto;
  }
  ul.products {
    width: 50%;
  }

  li.product-name,
  li.product-price {
    font-size: 20px;
  }

}

@media only screen and (max-width: 450px) {

  body {
    width: 100%;
    height: auto;
  }
  ul.products {
    width: 50%;
    padding: 10px;
  }

  li.product-name,
  li.product-price {
    font-size: 16px;
    padding: 0;
    width: 100%;
  }


  .square {
    width: 22px;
    height: 22px;
  }

  i.fa {
    font-size: 18px;
  }

  p.icons {
    font-size: 16px;
  }

  p.icons, li.icons {
    line-height: 40px;
  }

  div.shop-box {
    height: 120px;
  }

  nav {
    display: none;
  }

  img.t-shirt-front {
    width: 81%;
    height: auto;
    margin: 30px 10px 15px 10px;
  }


  ul.icons {
    width: 100%;
  }

  li.icons {
    list-style: none;
    float: left;
    height: 40px;
    width: 50%;
    display: block;
    border: none;
    border-bottom: 3px solid #5ca4d6;
    padding: 0;
    margin: 0;
  }

  li.icons:first-child,
  li.icons:nth-child(3) {
    border-right: 3px solid #5ca4d6;
  }

  li.icons:nth-child(5) {
    width: 100%;
    border-bottom: none;
  }

}
